<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Younovel Activation Email</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        line-height: 1.5;
        background-color: #f4f4f4;
        color: #222222;
      }
      a {
        text-decoration: none;
        color: #000;
      }
      h1 {
        font-size: 2em;
        font-weight: 700;
        margin-block: 0 0.8rem;
        line-height: 1.25;
        text-align: center;
      }
      p {
        margin-block: 0 1.5rem;
      }
      table td {
        vertical-align: top;
      }
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }
      .email-header {
        background-color: #0070f3;
        padding: 0.8rem;
        color: #fff;
      }
      .email-body {
        padding: 1.5rem;
        background-color: #fff;
      }
      .email-footer {
        background-color: #f6f6f6;
        padding: 1.5rem;
      }
      .button {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        background-color: #0070f3;
        color: #fff;
        font-size: 1em;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1>Welcome to Younovel</h1>
      </div>
      <div class="email-body">
        <p>Hi <%= user.name %>,</p>
        <p>Thank you for registring with Younovel. To activate your account, please use the following activation code:</p>
        <p>
          <strong><%= activationCode %></strong>
        </p>
        <p>Please enter this activation code within the next 5 minutes.</p>
        <p>If you did not register for a Younovel account, please ignore this email.</p>
        <p>Thank you,</p>
        <p>The Younovel Team</p>
      </div>
      <div class="email-footer">
        <p>
          If you have any questions, please contact us at
          <a
            href="mailto:
                    <%= process.env.EMAIL_USER %>
                "
          >
            <%= process.env.EMAIL_USER %>
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
